* {
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0 auto;
  max-width: 1280px;
  background-color: #d8b036;
  background-image: url(../img/global-bg.jpg);
  background-size: cover;
  background-position: 0 50%;
  background-attachment: fixed;
  font-size: 14px;
  font-family: 'RobotoRegular', Arial, sans-serif;
  line-height: 1.5em; 
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #ff0000;
}
p {
    color: #cccccc;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.header {
  min-height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  border-radius: 0 0 7px 7px;
}
.main {
  min-height: 100px;
  background-color: #f00;
  flex-grow: 1;
  min-height: calc(100vh - 199px);
}
.left {
  min-height: 100px;
  background-color: orange;
  width: 250px;
  order: -1;
}
.right {
  min-height: 100px;
  background-color: #f0f;
  width: 200px;
}
.footer {
  min-height: 100px;
}

.logo__image{
  display: block;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  padding: 25px;
}

.logo__title{
  display: block;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 5px;
  color: #ffffff;
  padding: 15px 20px;
}
.logo__description{
  display: block;
   text-align: center;
   font-size: 1.4rem;
   letter-spacing: 3px;
   color: #ffffff;
   padding: 0 20px 15px;
   line-height: 1.75rem;
}

.menu {
  display: table;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 7px 7px;

}
.menu__list{
  padding: 0;
  list-style: none;
  display: table;
  
}
.menu__item{
  float: left;
}
.menu__item a {
  padding: 10px 15px;
  margin-left: 5px;
  
  border-radius: 4px;
}

.menu__item:last-child {
  margin-right: 5px; 
}
.menu__item a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}


.menu__item.active a {
  background-color: rgba(0, 0, 0, 0.3);
}

.breadcrum {
text-align: right;
background: linear-gradient(to right, rgba(114,114,114,0.8) 0%,rgba(114,114,114,0.8) 1%,rgba(0,0,0,0.8) 100%);
}

.bredcrum a {
  font-weight: bold;
}
.bredcrum span {
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

/*footer start*/
.footer-top {
  width: 100%;
  margin-top: 13px;
}
.widget {
  float: left;
  padding: 10px 15px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #eeeeee;
  margin-top: 26px;

}
.widget h3 {
  width: 100%;
  border-bottom: solid 1px #333333;
  margin: 0;
  padding: 15px 0;
}
.footer-top .widget {
  width: calc(25% - 20px);
  margin: 16px 16px 5px 0;
}
.footer-top .widget:first-child {
  margin-left: 16px;
}
.footer-bottom {
  width: 100%;
  text-align: center;
}
.footer-bottom .widget {
  width: calc(100% - 32px);
  margin: 24px 16px 16px 16px;
}
.footer-bottom-widget5 h3 {
  margin: 0 auto;
  max-width: 300px;
}
.footer .widget{
  color: #eeeeee;
}

/*footer end*/

@media (max-width: 1024px) {
  .right {
    width: 100%;
  }

}
@media (max-width: 768px) {
  .main {
    width: 100%;
  }
  .left {
    width: 50%;
    order: 0;
  }
  .right {
    width: 50%;
  }
}
@media (max-width: 640px) {
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}


@media only screen and (max-width: 1200px) {
  .footer-top .widget {
    width: calc(50% - 24px);
  }
  .footer-top .widget:nth-child(2n+1) {
    margin-left: 16px;
  }
}


@media only screen and (max-width: 768px) {
  .footer-top .widget {
    width: calc(100% - 32px);
  }
  .footer-top .widget {
    margin-left: 16px;
  }
}
